/* ---------- main container -----------*/
.principal {
  display: block;
  margin: -5px auto 0 auto;
  max-width: 1400px;
  border: 2px double #255954;
}
/* ------------ Header -----------------*/
.HeaderMenu {
  display: flex;
  width: 100%;
  height: 100px;
  background: #255954;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.HeaderMenu h1 {
  color: #fff;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  font-size: 30px;
}
